body {
    background-color: #f0f8ff;
}

form label,
h3 {
    color: #a11d1a;
    text-align: center;
}

img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 40vh;
}