#bookList {
    color: darkblue;
    align-items: center;
}

fieldset {
    text-align: center;
    color: darkblue;
}

img {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 40vh;
}

fieldset {
    height: 37vh;
}

label {
    padding-bottom: 10px;
}

#bookList tr, td, th ,thead, tbody, table {
    color: darkblue !important;
}