table {
    color: #0000ff;
    align-items: center;
}

fieldset {
    text-align: center;
    color: #0000ff;
}

img {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 40vh;
}

fieldset {
    height: 37vh;
}

label {
    padding-bottom: 10px;
}