h1,
label {
    color: #ff6346;
}

form {
    text-align: center;
    height: 50vh;
}

body {
    background-color: #dcdcdc;
}

h3 {
    color: #ff6346;
    background-image: url("business-planning.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 30vh;
    text-align: center;
    align-content: center;
    padding-top: 100px;
}