#title h2,
#title a {
    color: #fff905 !important;
}

#title {
    background-color: rgba(0, 0, 0, 0.7);
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
    text-align: center;
}

#form {
    background-color: #d9fbfa;
}

.btn {
    color: white;
}

#services h2 {
    color: #00989a;
}

#services h5 {
    text-decoration: underline;
}

#service {
    padding-top: 50px;
    padding-bottom: 50px;
}

#servicesSpace {
    padding-bottom: 30px;
}
