#title {
    background-color: rgba(0, 0, 0, 0.7);
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
    text-align: center;
}

#title h2,
#title a {
    color: #fff905 !important;
}

#form {
    background-color: #d9fbfa;
}

.btn {
    color: white;
}

#services h2,
#abouttitle {
    color: #00989a;
}

#services h5 {
    text-decoration: underline;
    padding-top: 30px;
}

#service {
    padding-top: 50px;
    padding-bottom: 50px;
}

#servicesSpace {
    padding-bottom: 30px;
}

.abouttext {
    padding-top: 10px;
    padding-bottom: 10px;
}

#faq a {
    color: #00989a;
}

#faq a,
#faq li {
    font-size: calc(10px + 0.6vw);
    padding-top: 5px;
    padding-bottom: 5px;
}

#faq .collapse,
#faq .collapsing,
#faq .collapse.show {
    font-size: 16px !important;
    padding-top: 10px;
}

#breadcrumb {
    background-color: #01bdb4;
    color: white;
}

#breadcrumbText {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0px;
    font-size: 15px;
}

#options {
    background-color: rgb(247, 247, 247);
    margin-bottom: 0px;
    vertical-align: middle;
    border: 1px solid lightgray;
}

#contactText {
    background-color: rgb(247, 247, 247);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0px;
    height: 30% !important;
    vertical-align: middle;
}

#mobile .tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 30%;
    height: 300px;
}

#mobile .tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}

#mobile .tab button:hover {
    background-color: #ddd;
}

#mobile .tab button.active {
    background-color: #ccc;
}

.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 30%;
}

.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    padding: 0px 12px;
    width: 70%;
    border-left: none;
}