#title {
    background-color: rgba(0, 0, 0, 0.7);
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
    text-align: center;
}

#title h2,
#title a {
    color: #fff905 !important;
}

#form {
    background-color: #d9fbfa;
}

.btn {
    color: white;
}

#services h2,
#abouttitle {
    color: #00989a;
}

#services h5 {
    text-decoration: underline;
    padding-top: 30px;
}

#service {
    padding-top: 50px;
    padding-bottom: 50px;
}

#servicesSpace {
    padding-bottom: 30px;
}

#faq a {
    color: #00989a;
}

#faq a,
#faq li {
    font-size: calc(10px + 0.7vw) !important;
    padding-top: 5px;
    padding-bottom: 5px;
}

#faq .collapse,
#faq .collapsing,
#faq .collapse.show {
    font-size: 16px !important;
    padding-top: 10px;
}