#placeholder {
    background-color: #90ee90;
    height: 12vh;
    font-size: 35px;
    margin-top: 50%;
    text-align: center;
}

img {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 25vh;
}

body {
    background-color: #f5f5dc;
}