body {
  font-family: Arial, sans-serif;
  background-color: beige;
  padding-left: 5%;
}
#p1 {
  font-size: 0.9em;  
}

.highlight {
  color: blue;
}

.bullet-list {
  float: right;
  padding-right: 20%;
  padding-top: 0%;
}

fieldset {
  border-collapse: collapse;
  border: 0px;
}

.form-group {
  display: flex;
  align-items: center;
}

.form-group label {
  margin-right: 5px;
}

legend {
  font-size: 1.5em;
}

label {
  display: block;   
  font-size: 0.8em;
}

input {
  border: 1px solid grey;
  height: fit-content;
  background-color: whitesmoke;
  font-size: 0.8em;
     padding: 5px;
}

table {
  border-collapse: collapse;
  font-size: 0.8em;
}

td,
th {
  padding: 8px;
  text-align: left;
}

td {
  border-top: 1px solid skyblue;
  border-bottom: 1px solid skyblue;
  filter: brightness(70%);
}

td:first-child {
  border-left: none;
}

td:last-child {
  border-right: none;
}

#th1 {
  text-align: left;
  font-size: 1.5em;
}