body {
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

.highlight {
    color: red;
}

table {
    display: flex;
    width: 100%;
    height: max-content;
    align-items: center;
    text-align: center;
    border: none;
    padding: 0;
    border-collapse: collapse;
    table-layout: fixed;
}

td,
th {
    width: 33%;
}

#p1 {
    font-size: x-large;
}

#tr1 {
    font-size: 20px;
    background-color: navy;
    color: white;
    text-align: left;
    height: fit-content;
}

#tr2 {
    color: white;
    background-color: cadetblue;
    text-align: left;
    padding-left: 15px;
    width: 100%;
}

#tr3 {
    background-color: whitesmoke;
}

#tr4 {
    vertical-align: left;
}

/* all elements above copyright */

#copyright {
    text-align: left;
    font-size: 14px;
    background-color: skyblue;
    height: fit-content;
}