.straighten {
    align-items: center;
    text-align: center;
    align-self: center;
    margin-top: 30px;
    margin-bottom: 40px;
    padding: 75px;
}

#header {
    margin-bottom: -12px;
}

.placeholder {
    color: #58151c;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    border-radius: 6px;
    padding: 16px;
    width: 50%;
}

.whitebutton {
    background-color: white !important;
    border: 1px solid #dbdbdb !important;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#footer {
    color: #777;
}

.bigbutton {
    padding: 1.25rem;
    margin-right: 0px;
    font-size: calc(1.275rem + 0.3vw);
}

.exact {
    max-width: 70%;
}