#title {
    padding-top: 20px;
}

.social {
    border-radius: 100%;
    border-style: solid;
    border-width: 3px;
    padding: calc(0.5rem + 2px);
}

#extraInfo {
    padding: 20px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    justify-self: center;
}

#extraInfo a {
    color: #36d7b7;
}

button {
    background-color: #36d7b7 !important;
    color: white !important;
}

b {
    color: #36d7b7;
}

/* #headerhr {
    
} */

/* td {
  vertical-align: middle;
} */

/* #weightData a {
    
} */