b {
    color: #36d7b7;
}

#title {
    margin-top: 30px;
}

#title h3 {
    color: #36d7b7;
}

#title a {
    color: black;
    text-decoration: none;
}

#title a:hover {
    color: #36d7b7;
}
#title a:disabled,
#title a:active {
    color: #36d7b7 !important;
    pointer-events: fill;
}

svg {
    height: 2.5rem !important;
    width: 2.5rem !important;
    color: white;
    border: 2px solid white;
    border-radius: 50%;
    margin: 5px 3px 10px 3px;
    padding: 7.5px;
    overflow: visible;
}

#extraInfo {
    padding: 20px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    justify-self: center;
}

#extraInfo a {
    color: #36d7b7;
}

#extraInfo button,
#contactForm button,
#registerForm button {
    background-color: #36d7b7;
    color: white;
}

#p1 {
    font-size: 14px;
}

.no-click a {
    pointer-events: none;
    cursor: default;
}

.underlineHeading::after {
    border-bottom: 4px solid #36d7b7;
    padding-bottom: 1.5rem;
    width: 100%;
}

#services,
#services table {
    background: #f8f9fa !important;
    padding-bottom: 2.5rem;
}

.btn-tertiary {
    --bs-btn-color: #97979c;
    --bs-btn-bg: #f0f0f0;
    --bs-btn-border-color: transparent;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #c4c4c4;
    --bs-btn-hover-border-color: #ababab;
    --bs-btn-focus-shadow-rgb: 130, 138, 145;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #ababab;
    --bs-btn-active-border-color: #9a9a9a;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #7a8086;
    --bs-btn-disabled-border-color: #7a8086;
    border-radius: 2%;
}